<div class="container">
    <h1>{{button.text}}</h1>
    <input type="hidden" name="id" value="{{id}}" />
    <div class="form-group">
        <label>First Name</label>
        <input type="text" name="firstName" class="form-control" value="{{data.first_name}}" />
        <label>Last Name</label>
        <input type="text" name="lastName" class="form-control" value="{{data.last_name}}" />
    </div>
    <div class="form-group">
        <label>Select Department</label>
        <select name="department" id="select" class="form-control">
            <option value="Web Developers">Web Developers</option>
            <option value="Computer Systems Analyst">Computer Systems Analyst</option>
            <option value="IT Security">IT Security</option>
            <option value="Network Engineer">Network Engineer</option>
        </select>
    </div>
    <div class="form-group">
        <label>Start Date</label>
        <input type="date" name="startDate" id="date" class="form-control" />
    </div>
    <div class="form-group">
        <label>Job Title</label>
        <input type="text" name="jobTitle" class="form-control" value="{{data.job_title}}" />
    </div>
    <div class="form-group">
        <label>Annual Salary</label>
        <input type="number" name="salary" class="form-control" value="{{data.salary}}" />
    </div>

    <input type="submit" value="{{button.text}}" class="btn {{button.class}}" />
</div>
<input type="hidden" id="department" value="{{data.department}}">
<input type="hidden" id="startDate" value="{{data.start_date}}">
<script>
    document.getElementById("select").value = document.getElementById("department").value;
    let date = new Date(document.getElementById("startDate").value);
    let month = "" + (date.getMonth() + 1);
    let day = "" + date.getDate();
    if (month.length < 2) month = "0" + month;
    if (day.length < 2) day = "0" + day;
    document.getElementById("date").value = `${date.getFullYear()}-${month}-${day}`;
</script>